<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello World!</title>
</head>
<body>

<!-- we can declare variables like this and use em later -->
{{$wisdom := .}}
<h1>Your name is: {{$wisdom}}</h1>

<!--The dot gets replaced with the data -->
<h1>Your name is: {{.}}</h1>
</body>
</html>